<div>
  <div>
    <%if @current_user.type != 'admin'%>
      <h1>
        <%= @current_user.first_name %>'s Bookings
      </h1>
    <% else %>
      <h1>
      List of Current Bookings
      </h1>
    <% end %>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new booking
    </h2>

    <form action="/insert_booking" method="post">
      <div>
        <label for="time_box">
          Time
        </label>

        <input type="datetime-local" id="time_box" name="query_time">
      </div>

      <div>
        <label for="duration_box">
          Duration
        </label>

        <input type="text" id="duration_box" name="query_duration">
      </div>

      <div>
        <label for="court_number_box">
          Court Number
        </label>

        <input type="text" id="court_number_box" name="query_court_number">
      </div>

      

      <button>
        Create booking
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Time
        </th>

        <th>
          Duration
        </th>

        <th>
          Court Number
        </th>

        <th>
        </th>
        <th>
        </th>
      </tr>

      <% @list_of_bookings.each do |a_booking| %>
      <tr>
        <td>
          <%= a_booking.user.first_name%>
        </td>

        <td>
          <%= a_booking.time %>
        </td>

        <td>
          <%= a_booking.duration %>
        </td>

        <td>
          <%= a_booking.court_id %> 
        </td>

        <td>
          <a href="/bookings/<%= a_booking.id %>">
            Edit Booking
          </a>
        </td>

        <td>
          <a href="/delete_booking/<%= a_booking.id %>">
            Delete Booking
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
