<div>
  <div>
    <%if @current_user.type != 'admin'%>
      <h1>
        <%= @current_user.first_name %>'s Bookings
      </h1>
    <% else %>
      <h1>
      List of Current Bookings
      </h1>
    <% end %>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new booking
    </h2>

    <form action="/insert_booking" method="post">
      <div>
        <label for="time_box">
          Time
        </label>

        <input type="datetime-local" id="time_box" name="query_time">
      </div>

      <div>
        <label for="duration_box">
          Duration
        </label>

        <input type="text" id="duration_box" name="query_duration">
      </div>

      <div>
        <label for="court_number_box">
          Court Number
        </label>

        <input type="text" id="court_number_box" name="query_court_number">
      </div>

      

      <button>
        Create booking
      </button>
    </form>
  </div>
</div>


<hr>
<% if @current_user.type != 'admin'%>
  <div>
  <h2>Upcoming Bookings</h2>
    <div>
      <table border="1">
        <tr>

          <th>
            Date
          </th>

          <th>
            Time
          </th>

          <th>
            Duration
          </th>

          <th>
            Court Number
          </th>

          <th>
          </th>
          <th>
          </th>
        </tr> 

        <% @user_bookings.each do |a_booking| %>
          <% if a_booking.time < Date.today%>
          <% else %>
            <tr>

              <td>
                <%= a_booking.time.strftime("%m/%d/%Y")%> 
              </td>

              <td>
                <%= a_booking.time.strftime("%H:%M") %> <%= a_booking.time.strftime("%p") %>
              </td>

              <td>
                <%= a_booking.duration %> hr(s)
              </td>

              <td>
                <%= a_booking.court_id %> 
              </td>

              <td>
                <a href="/bookings/<%= a_booking.id %>">
                  Edit Booking
                </a>
              </td>

              <td>
                <a href="/delete_booking/<%= a_booking.id %>">
                  Delete Booking
                </a>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table> 
    </div>
  </div>
<% end %>

<hr>
  <div>
    <h2>Check Schedule</h2>
  </div>

  <div class="float-container">
    <div class="float-child">
      <%= month_calendar do |date| %>
        <a href = "/bookingschedule/<%= date%>"><%= date.day%>
        
      <% end %>
    </div>
   
    <h2>
    <%= @booking_date.strftime("%A %b %d, %Y") %>
    </h2>
    
        <div>
          <table border="1">
            <tr>
              <th>
                Time
              </th>

              <th>
                Status
              </th>

              <th>
                Duration
              </th>

              <th>
                Court Number
              </th>

            </tr>

            <% @list_of_bookings.each do |a_booking| %>
            <tr>
              <td>
                <%= a_booking.book_time.strftime("%R %p")%>
              </td>

              <td>
                Not Available 
              </td>

              <td>
                <%= a_booking.duration %> hr(s)
              </td>

              <td>
                <%= a_booking.court_id %> 
              </td>

              <td>
                <% if a_booking.user_id == @current_user.id%>
                  <p style="color: green">Your Booking</p>
                <%end%>
              </td>

              <% if @current_user.type = 'admin'%>
                <td>
                  <a href="/bookings/<%= a_booking.id %>">
                    Edit Booking
                  </a>
                </td>

                <td>
                  <a href="/delete_booking/<%= a_booking.id %>">
                    Delete Booking
                  </a>
                </td>
              <% end %>

            </tr>
            <% end %>
          </table>
        </div>
      
  </div>

</hr>
