<!DOCTYPE html>
<html>
  <head>
    <title>Base Rails</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>
    <div class="header">
      <p>Welcome to</p>
      <img src="https://static1.squarespace.com/static/5bade5ae11f78432c09eede0/t/5bef75df0e2e72908db33f63/1647376116068/" jsaction="load:XAeZkd;" jsname="HiaYvf" class="n3VNCb pT0Scc KAlRDb" alt="XS Tennis" data-noaft="1" style="width: 300px; height: 143px;">
    </div>

    <p style="color: green"><%= notice %></p>
    <p style="color: red"><%=alert%></p>

      <a href ="/user_homepage">Home</a>
    <%= yield %>
  </body>
</html>
